.home-page {
  margin: 5em 0em 5em 0em;
  background-color: #F5F3ED;
  /* height: 100%;  */
}

.home-box {
  border-radius: 25px !important;
}

.ui.button.gold-button {
    background-color: #907139 !important;
}

.body {
    background-color: #F5F3ED;
    padding-top: 100px;
}

body {
  background-color: #F5F3ED !important;
}

.item active {
  border-radius: 25px !important;
}

.login {
  padding-top: 300px;
  background-size: cover;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.login-register {
  text-align: center;
  position: inherit;
}

.login-background {
  background-color: #F5F3ED;
  padding-bottom: 300px;
}

.sign-out {
  background-color: #F5F3ED;
  padding-top: 300px;
  align-items: center;
}
