.login {
  padding-top: 300px;
  background-size: cover;
  align-items: center;
  height: 100vh;
}

.login-register {
  text-align: center;
  position: inherit;
}

.login-background {
  background-color: #F5F3ED;
  align-items: center;
  padding-bottom: 300px;
}